/*CSS resets*/
*         {
  box-sizing: border-box;
}

body      {
  margin: 0;
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

/*main styles*/

/*header styles*/
header    {
  background: #222;
  color: #fff;
  padding: 20px 30px;
 }

/*logo*/
header #logo{
  color: #fff;
  text-decoration: none;
  width: 49%;
  display: inline-block;
}

header #logo img{
  width: 50px;
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: middle;
}

/*main navigation*/
header #main-navigation{
  width: 49%;
  display: inline-block;
  text-align: right;
}
header #main-navigation ul{
  list-style: none;
  padding: 0;
}
header #main-navigation ul li{
  display: inline-block;
}
header #main-navigation ul li a{
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.35s ease all;
}
header #main-navigation ul li a:hover{
  background: #444;
}

/* footer */
footer    {
  background: #222;
  color: #777;
  padding: 40px;
  text-align: center;
}
footer img  {
  display: block;
  border-radius: 3px;
  width: 80px;
  margin: 0 auto 10px;
}

/* main content* /

/* hero section */
.hero     {
  text-align: center;
  min-height: 800px;
  background: #555;
  background-image: url('../img/night.jpg');
  background-size: cover;
}
.hero-content{
  color: #fff;
  padding-top: 130px;
  line-height: 1;
}
.hero-title{
  margin: 0;
  font-size: 100px;
}
.hero-content p{
  font-size: 45px;
  margin-bottom: 60px;
}
.hero-content a{
  color: #fff;
  border: 3px solid #fff;
  border-radius: 3px;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 26px;
  margin-right: 20px;
}

/* site section styling*/
.site-section     {
  padding-top: 50px;
  padding-bottom: 50px;
}
.site-section-inside  {
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.site-section-secondary {
  background: #efefef;
}
.section-header    {
  margin-bottom: 30px;
  text-align: center;
}
.section-header h2    {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  color: #777;
  font-size: 30px;
}

/* feature boxes */
.feature-box        {
  display: inline-block;
  width: 33%;
  padding: 20px 30px;
  text-align: center;
}
.feature-box img    {
  width: 80px;
  line-height: 1;
  margin-bottom: 12px;
}
.feature-box h5      {
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  color: #999;
}

/* testimonial boxes */
.testimonial-box      {
  display: inline-block;
  padding: 20px 30px;
  width: 33%;
}
.testimonial-content     {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.testimonial-author      {

}
.testimonial-author img {
  width: 80px;
  float: left;
  margin-right: 15px;
  border-radius: 20%;
}
.testimonial-author h5   {
  margin: 0;
  font-size: 18px;
  padding-top: 15px;
}
.testimonial-author span  {
  color: #999;
  font-size: 14px;
}

/* responsive */
/* mobile responsiveness */
@media screen and (max-width: 768px) {
  /* header section*/
  header #logo      {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  header #main-navigation{
    width: 100%;
    display: block;
    text-align: center;
  }
  /* hero section */
  .hero             {
    min-height: 300px;
  }
  .hero-content     {
    padding-top: 80px;
  }
  .hero-content p   {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .hero-content a   {
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 12px;
    border-width: 1px;
    color: #333;
    background: #fff;
  }
  .hero-title        {
    font-size: 30px;
  }
  /* feature boxes*/
  .feature-box       {
    width: 100%;
    display: block;
  }
  /* testimonial boxes */
  .testimonial-box    {
    width: 100%;
    display: block;
  }
}